ul {
    clear: both;
}

.bar-header-secondary>input {
    margin-top: 6px;
    height: 31px;
}

.table-view {
    margin: 0 !important;
    border: none;
}

.details h1 {
    padding-top: 16px;
    font-size: 18px;
}

.media-object {
    width: 42px;
    height: 42px;
    border-radius: 25px;
}
.icon-call {
    background: transparent url(images/ic_action_phone_outgoing.png);
    background-repeat: no-repeat;
}
/*.tabbar {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*z-index: 99999;*/
/*}*/
/*.desc {*/
    /*minheight: 220px;*/
/*}*/
.media>p {
    color: #444;
}
.bar-nav {
    background-color: #209dc2;
    color: #ffffff;
}
.title {
    color: #ffffff;
}
.bar-nav .icon {
    color: #ffffff;
}
.bar-header-secondary {
    background-color: #eeeeee;
}