<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgirl.day.phonegap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap Day App</name>
    <description>
        Simple conference tracking app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>

    <!-- Whitelist open -->
    <access origin="*" />

    <!-- Status Bar config -->
    <!-- Set overlay to false to leave space at the top like iOS6, iOS7 and above made status bar transparent
         Learn all about it here: http://devgirl.org/2014/07/31/phonegap-developers-guid/
     -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#209dc2"/><!-- only applies works when status bar overlay false -->
    <preference name="StatusBarStyle" value="lightcontent" /><!-- light text/icons / use value of 'default' for black text icons-->

    <!-- Workshop Note: You may see the following values but they are deprecated, stick to above -->
    <!--<preference name="StatusBarStyle" value="blackopaque" /><!- light text/icons -->
    <!--<preference name="StatusBarStyle" value="blacktranslucent" /><!- black text/icons -->

    <!-- Prevent webview bounce effect -->
    <preference name="DisallowOverscroll" value="true" />

    <!-- Configuring App Icons - path is relative to the root-->
    <!-- See this link for details http://devgirl.org/2014/09/29/new-icons-and-splash-screen-help-for-cordovaphonegap/ -->
    <icon src="img/icon.png" />


</widget>
